<nav>
<div class="site-title">
    <a href="/"><h1>The Quick DB Project</h1></a>
    <p>Let's hope we can finish</p>
</div>
    <ul>
        <li><a href="/movies">Home</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/signup">Sign up</a></li>
    </ul>
</nav>